[user]
    name =
    email =
[color]
    ui = true
[color "branch"]
    current = cyan
    local = yellow
    remote = green
[color "diff"]
    meta = 11
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
    commit = yellow bold
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "status"]
    added = yellow
    untracked = cyan
[alias]
    br = branch
    ci = commit
    co = checkout
    mn = merge --no-ff
    mv = move
    sub = submodule
    st = status
    di = diff
    psup = push --set-upstream origin
    tags = tag -l
    # "gt ici", alias for git ci
    ici = commit
    # "gi tci", alias for git ci
    tci = commit
[tig]
    line-graphics = ascii
    main-view-date-display = custom
    main-view-date-format = \"%Y/%m/%d %R\"
[push]
    default = simple
[pull]
    rebase = false
[core]
    quotepath = false
    # https://github.com/so-fancy/diff-so-fancy
    pager = diff-so-fancy | less --tabs=4 -RFX
